<div class="rounded-xl bg-gradient-to-br from-lime-800 via-green-900 to-lime-800 p-6">
    <div class="text-white font-medium text-lg md:text-xl">
        <p class="font-bold">The various Administrative Support services we render include the following:</p>
        <ul class="service-items-list ">
            
            {% for item in service.items %}
                <li class="my-4">
                    {{ item.text }}
                
                </li>
            {% endfor %}
                
        </ul>
    </div>
</div>