<div class="rounded-xl bg-gradient-to-br from-green-950 via-green-900 to-green-950 p-6">
    <div class="text-white font-medium text-lg md:text-xl">
        <div class="text-white font-semibold text-lg md:text-xl">
			{{service.desc}}
		</div>
        <p class="font-bold pt-2">The following is a comprehensive list of the various documents we process from Nigeria :</p>
        <ul class="service-items-list ">
            
            {% for item in service.items %}
                <li class="my-6">
                    <p class="text-lime-100">{{ item.desc }}</p>
                    
                    <!-- <div class="text-base md:text-lg">
                        <p class="flex space-x-3"><span class="font-semibold text-lime-200">Fee (WITHOUT translation) :</span> <span> €{{ item.fee1}}</span></p>
                        {% if item.fee2 %}
                            <p class="flex space-x-3">
                                <span class="font-semibold text-green-200">Fee 
                                {% if item.fee2_info %}
                                ({{item.fee2_info}})
                                {% else %}
                                (WITH translation)
                                {% endif %}
                                :
                                </span>
                                <span> €{{ item.fee2}} </span>
                            </p>
                        {% endif %}
                    </div> -->
                    <p class="font-semibold inline-block px-3 py-1 my-1 bg-black">
                        <span>Total Service Fee </span> 
                        <span class="inline-block px-3">:</span> 
                        <span class="inline-block">
                            €<span id="cost-{{item.desc|slugify}}">{{item.tot_fee}}</span> 
                        </span>
                    </p>
                    <div>
                        <p class="font-bold ">Breakdown of Charges :</p>
                        <ul class="text-white font-normal list-outside list-disc pl-6">
                            {% for cost_item in item.cost_items %}
                                <li><span>{{cost_item.item}} </span> <span class="inline-block px-3">:</span> <span class="font-semibold">€{{cost_item.cost}}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <p class="border-b-2 border-dotted border-gray-400 pt-3"></p>
                </li>
            {% endfor %}
                
        </ul>

        <div class="p-6">
            <div class="bg-white p-4 rounded-lg">
                <p class="font-bold text-xl md:text-2xl text-red-600">Important Notice !</p>
                <p class="font-semibold text-lg md:text-xl text-black py-2">
                    All documents processed in Nigeria and intended for delivery to France are subject to a mandatory DHL fee of €120.
                </p>
            </div>
        </div>
    </div>
</div>
