<div class="rounded-xl bg-gradient-to-br from-green-950 via-green-900 to-green-950 p-6">
    <div class="text-white font-medium text-lg md:text-xl">
        <div class="text-white font-semibold text-lg md:text-xl">
			{{service.desc}}
            
		</div>
        <p class="font-medium mt-2">The various document types our service covers include the following:</p>
        <ul class="service-items-list ">
            
            {% for item in service.items %}
                <li class="my-3 font-medium text-base md:text-lg text-lime-100">
                    {{ item }}
                
                </li>
            {% endfor %}
                
        </ul>
    </div>
				<p class="inline-block p-3 mt-3 text-base md:text-lg font-semibold bg-black text-white rounded-sm">Service Fee : <span class="inline-block pl-3 text-green-500">{{service.fee}}</span></p>
</div>
