
{% extends 'jde_base.html' %}
{% load static %}


    
    {% block title %}
        JDE CONSULTE -Home
    {% endblock title %}
        

	
    {% block content %}
        <!-- Hero section -->
        <section class="">
            <div class="container mx-auto px-4 lg:px-12 py-10 text-center ">
                <div class="jump-in">
                    <p class="text-center font-semibold text-lg lg:text-xl text-green-600 pb-2 jump-in2">WELCOME TO JDE CONSULTE SAS</p>
                    <h1 class="text-4xl md:text-5xl font-extrabold text-gray-800 mb-4">
                        Certified Translators & Interpreters
                    </h1>
                    <p class="text-2xl md:text-3xl text-gray-800 mb-8 font-semibold italic">
                        Your gateway to seamless communication and hassle-free administration.
                    </p>
                </div>
                
            
                <div class="flex justify-center flex-wrap space-x-4 md:space-x-6 gap-y-4 text-base md:text-lg pt-4">
                    <a href="#services" class="bg-green-500 text-white px-6 py-3 rounded shadow hover:bg-green-700 jump-small">Request a Service</a>
                    <a href="#appointment" class="bg-green-500 text-white px-6 py-3 rounded shadow hover:bg-green-700 jump-small">Book an Appointment</a>
                    <a href="#contact-us" class="bg-green-500 text-white px-6 py-3 rounded shadow hover:bg-green-700 jump-small">Contact Us</a>
                </div>
            </div>
        </section>

        <!-- Services -->
        <section id="servicesScroll" class="lg:w-[90%] mx-auto py-10">
            <div class="px-4">
                <div class="service-scroll-parent flex flex-nowrap w-full mx-auto overflow-x-hidden h-[380px] lg:h-[450px]" id="par-serv-container">
                    
    
                    
                    {% for service in services %}
                    <!-- <input type="hidden" name="" value="{% cycle 'scale-[1]' 'scale-[0.70]' 'scale-[0.85]' as scale_size %}"> -->
                    
                    <div class="par-serv-scroll relative px-10 md:px-0 mx-auto transform">
                        <div class="w-full mx-auto h-full transform relative ">
                            <img src="{% static 'jde_assets' %}/{% cycle 'image1_man_woman_stand.jpg' 'image2_woman_flags.jpg' 'image3_woman_naija_flag.jpg' %}" class="object-cover w-full h-full inline-block" alt="">
                            <div class="service-scroll absolute top-0 left-0 bottom-0 right-0 w-full h-full text-center">
                                <p class="scroll-service-title-para my-6 mx-auto inline-block px-3 py-1 bg-black bg-opacity-50 text-white text-lg font-semibold">{{service.title}} </p>
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %}
                        
                </div>
            </div>
        </section>

        <!-- STEPS FOR USING OUR SERVICES -->
        <section>

            <div class="px-4 bg-gray-100 my-20 py-10">
                <h2 class="text-3xl md:text-4xl font-bold text-center text-gray-800 pb-4">
                    How it Works
                </h2>
                <p class="text-center font-semibold text-green-900 text-xl md:text-2xl">We have a 4-step approach to providing our services</p>
            
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 container mx-auto py-10 px-6">
                    <!-- Step 1 -->
                    <div class="bg-white p-6 lg:px-4 rounded-lg shadow hover:shadow-lg transition">
                        <div class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-green-500">
                            <span class="text-white text-2xl">1</span>
                        </div>
                        <h3 class="text-xl font-bold text-center text-gray-800">
                            User Registration
                        </h3>
                        <p class="text-gray-600 text-justify my-4 text-lg">
                            As a customer, you would need to register on our website and then be logged in to your account to request any of our services.
                        </p>
                        <!-- <p><a href=""><button class="inline-block px-4 py-2 border-2 border-green-500 text-center text-green-500">Click to Register</button></a></p> -->
                    </div>
                    <!-- Step 1 -->
                    <div class="bg-white p-6 lg:px-4 rounded-lg shadow hover:shadow-lg transition">
                        <div class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-green-500">
                            <span class="text-white text-2xl">2</span>
                        </div>
                        <h3 class="text-xl font-bold text-center text-gray-800">
                            Service Selection and Payment
                        </h3>
                        <p class="text-gray-600 text-justify my-4 text-lg">
                            Select the service you want us to render, make an appropriate payment for that service, and provide all the relevant information and details required. 
                        </p>
                        <!-- <p><a href=""><button class="inline-block px-4 py-2 border-2 border-green-500 text-center text-green-500">Click to Register</button></a></p> -->
                    </div>
                    <div class="bg-white p-6 lg:px-4 rounded-lg shadow hover:shadow-lg transition">
                        <div class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-green-500">
                            <span class="text-white text-2xl">3</span>
                        </div>
                        <h3 class="text-xl font-bold text-center text-gray-800">
                            Process Begins
                        </h3>
                        <p class="text-gray-600 text-justify my-4 text-lg">
                            Once payment for the selected service is received together with all the relevant information, we assign your service request to one of our partners/consultants and work starts
                        </p>
                        <!-- <p><a href=""><button class="inline-block px-4 py-2 border-2 border-green-500 text-center text-green-500">Click to Register</button></a></p> -->
                    </div>
                    <div class="bg-white p-6 lg:px-4 rounded-lg shadow hover:shadow-lg transition">
                        <div class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-green-500">
                            <span class="text-white text-2xl">4</span>
                        </div>
                        <h3 class="text-xl font-bold text-center text-gray-800">
                            Service Rendered
                        </h3>
                        <p class="text-gray-600 text-justify my-4 text-lg">
                            We provide the service results and feedback to you on the stipulated time frame.
                        </p>
                        <!-- <p><a href=""><button class="inline-block px-4 py-2 border-2 border-green-500 text-center text-green-500">Click to Register</button></a></p> -->
                    </div>
                </div>
                <p class="text-lg lg:text-xl font-semibold container lg:w-3/4 mx-auto text-black px-6 flex gap-4 "><span class="text-red-500 font-bold">NB:</span>Kindly note that, in the event of any delay arising from circumstances beyond our control, 
                    you will be promptly informed and advised on the revised timeframe.
                </p>
            </div>
        </section>


        <section class="w-full mx-auto my-6 py-4 bg-lime-50">
            <div class="w-full lg:w-[90%] mx-auto ">
                <div class="md:grid md:grid-cols-2 lg:grid-cols-2 items-center p-8">
                    <div class="text-4xl lg:text-5xl font-extrabold text-green-900 my-6">
                        Our Services
                    </div>
                    <div class="text-xl lg:text-2xl font-bold text-lime-900">
                        We offer a comprehensive range of services, including translation, interpretation, 
                        administrative assistance, consultancy, official document processing, data management and mentorship.
                        <p>Our services are delivered with professionalism, precision and confidentiality.</p>

                    </div>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-10 lg:grid-cols-3 p-8 ">
                    <div class="service-details min-h-[400px] relative">
                        <img src="{% static 'jde_assets' %}/translation_image.jpg" class="object-cover h-full w-full inline-block" alt="">
                        <div class="service-detail-inner absolute top-0 left-0 right-0 h-full px-2">
                            <p class="serve-title py-4">Translation Services</p>
                            <div class="service-items mt-16 p-3 text-left text-lg lg:text-xl text-lime-100 font-normal inline-block bg-black bg-opacity-50">We provide accurate,certified translations of official documents for personal, legal, academics and business purposes. Our translators ensure your contents is linguistically precise, culturally appropriate, and officially compliant.</div>
                        </div>
                    </div>
                    {% for service in services %}
                    <div class="service-details min-h-[400px] relative">
                        <img src="{% static 'jde_assets' %}/{% cycle 'image1_man_woman_stand.jpg' 'image2_woman_flags.jpg' 'image3_woman_naija_flag.jpg' %}" class=" h-auto w-full inline-block" alt="">
                        <div class="service-detail-inner absolute top-0 left-0 right-0 h-full px-2">
                            <p class="serve-title py-4">{{service.title}} </p>
                            <div class="service-items mt-16 p-3 text-left text-lg lg:text-xl text-lime-100 font-normal inline-block bg-black bg-opacity-50">{{service.desc}} </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </section>

        <section id="why-choose-us" class="py-16">
            
            <div class="px-4 bg-gray-100">
                <h2 class="text-3xl md:text-4xl font-bold text-center text-gray-800 py-10">
                    Why Choose Us?
                </h2>
            
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 container mx-auto pb-10 px-6">
                
                <!-- Point 1 -->
                <div class="bg-white p-6 lg:px-4 rounded-lg shadow hover:shadow-lg transition">
                <div class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-green-100">
                    <span class="text-green-600 text-2xl">✅</span>
                </div>
                <h3 class="text-lg font-bold text-center text-gray-800">
                    Certified & Accredited
                </h3>
                <p class="text-gray-600 text-center mt-2 text-lg">
                    Trusted by government institutions and private enterprises.
                </p>
                </div>
                
                <!-- Point 2 -->
                <div class="bg-white p-6 rounded-lg shadow hover:shadow-lg transition">
                <div class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-green-100">
                    <span class="text-green-600 text-2xl">🌍</span>
                </div>
                <h3 class="text-lg font-bold text-center text-gray-800">
                    Multi-Field Expertise
                </h3>
                <p class="text-gray-600 text-center mt-2 text-lg">
                    From language services to business consultancy and data management.
                </p>
                </div>
                
                <!-- Point 3 -->
                <div class="bg-white p-6 rounded-lg shadow hover:shadow-lg transition">
                <div class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-green-100">
                    <span class="text-green-600 text-2xl">🎯</span>
                </div>
                <h3 class="text-lg font-bold text-center text-gray-800">
                    Personalized Solutions
                </h3>
                <p class="text-gray-600 text-center mt-2 text-lg">
                    Tailored services to meet individual and corporate needs.
                </p>
                </div>
                
                <!-- Point 4 -->
                <div class="bg-white p-6 rounded-lg shadow hover:shadow-lg transition">
                <div class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-green-100">
                    <span class="text-green-600 text-2xl">💰</span>
                </div>
                <h3 class="text-lg font-bold text-center text-gray-800">
                    Affordable & Transparent
                </h3>
                <p class="text-gray-600 text-center mt-2 text-lg">
                    Competitive rates without hidden costs.
                </p>
                </div>

            </div>
            </div>
        </section>


        <section id="videos">
            <!-- YOUTUBE VIDEO Content-->
            <div class="lg:w-4/5 xl:w-3/4 my-10 mx-auto">
                <div class="text-2xl md:text-3xl font-bold text-center text-gray-800 py-4">
                    <p>Watch Our Videos (IYE WAKA)</p>
                    <!-- <p class="inline-block w-[100px] border-b-4 border-lime-500"></p> -->
                </div>
                <div class="youtube-wrapper mx-auto p-6">
                    <iframe src="https://www.youtube.com/embed/twCpijr_GeQ" frameborder="0" allowfullscreen class="w-full lg:w-3/5 aspect-video mx-auto" ></iframe>
                </div>

            </div>
        </section>

        <section>
            <div class="my-10 w-full bg-lime-50">
                <div class="text-2xl md:text-3xl font-semibold text-center text-gray-800 py-4">
                    <p class="">Our Partners</p>
                    <!-- <p class="inline-block w-[100px] border-b-4 border-lime-500"></p> -->
                </div>

                <div class="w-full overflow-x-auto p-6 lg:p-8  text-center">
                <div class="scroll-wrapper w-max inline-flex flex-row flex-nowrap gap-4 lg:gap-8 " id="scrollBox">
                    <!-- <div class="invisible rounded-2xl bg-white border border-stone-200   border-teal-200 ump-in2 relative">
                        <div class="text-center">
                            <p class="inline-block py-2 bg-white text-lime-500 font-black text-xl text-wrap mx-auto px-6 rounded-full">Partner 1</p>
                        </div>
                        <div class="p-4 md:p-6 text-teal-600 font-bold">
                            <ul class="list-outside list-disc">
                                <li>Login to your account </li>
                                <li>If you don't have an account, register  an account, it's very easy to do.</li>
                            </ul>
                        </div>
                    </div> -->
                    
                    {% for partner in partners %}
                    <div class="partner rounded-2xl   border-stone-200    border-teal-200 ump-in2 relative">
                        
                        <div class=" text-teal-600 font-bold">
                            <img src="{% static 'jde_assets/' %}{{partner}}" class="w-full h-auto" alt="">
                        </div>
                    </div>
                    {% endfor %}
                        
                    <!-- <div class="partner rounded-2xl   border-stone-200    border-teal-200 ump-in2 relative">
                        
                        <div class=" text-teal-600 font-bold">
                            <img src="{% static 'jde_assets/partner_ambassade_de_france.jpg' %}" class="w-full h-auto" alt="">
                        </div>
                    </div>
                    <div class="partner rounded-2xl   border-stone-200    border-teal-200 ump-in2 relative">
                        
                        <div class=" text-teal-600 font-bold">
                            <img src="{% static 'jde_assets/partner_consulat_france.jpg' %}" class="w-full h-auto" alt="">
                        </div>
                    </div>
                    <div class="partner rounded-2xl   border-stone-200   border-teal-200 ump-in2 relative">
                        
                        <div class=" text-teal-600 font-bold">
                            <img src="{% static 'jde_assets/partner_federal_gov_nigeria.jpg' %}" class="w-full h-auto" alt="">
                        </div>
                    </div>
                    <div class="partner rounded-2xl  border-stone-200  border-teal-200 ump-in2 relative">
                        
                        <div class=" text-teal-600 font-bold">
                            <img src="{% static 'jde_assets/nimc_square_image.jpg' %}" class="w-full h-auto" alt="">
                        </div>
                    </div>
                    <div class="partner rounded-2xl   border-stone-200    border-teal-200 ump-in2 relative">
                        
                        <div class=" text-teal-600 font-bold">
                            <img src="{% static 'jde_assets/partner_ministry_foreign_logo.png' %}" class="w-full h-auto" alt="">
                        </div>
                    </div>
                    <div class="partner rounded-2xl  border-stone-200    border-teal-200 ump-in2 relative">
                        
                        <div class=" text-teal-600 font-bold">
                            <img src="{% static 'jde_assets/partner_dawari_consult.jpg' %}" class="w-full h-auto" alt="">
                        </div>
                    </div>
                    <div class="partner rounded-2xl   border-stone-200    border-teal-200 ump-in2 relative">
                        
                        <div class=" text-teal-600 font-bold">
                            <img src="{% static 'jde_assets/partner_cpss_training.jpg' %}" class="w-full h-auto" alt="">
                        </div>
                    </div> -->
                    <!-- <div class="invisible rounded-2xl bg-white border border-stone-200    border-teal-200 ump-in2 relative">
                        <div class="text-center">
                            <p class="inline-block py-2 bg-white text-lime-500 font-black text-xl text-wrap mx-auto px-6 rounded-full">Partner 1</p>
                        </div>
                        <div class="p-4 md:p-6 text-teal-600 font-bold">
                            <ul class="list-outside list-disc">
                                <li>Login to your account </li>
                                <li>If you don't have an account, register  an account, it's very easy to do.</li>
                            </ul>
                        </div>
                    </div> -->
                </div>
                    
                </div>
                <!-- 
                <div>
                    <p class=" flex justify-center gap-3" id="scrollIndCont"></p>
                </div> -->
            </div>

        </section>


        {% endblock content %}
        