{% extends "base.html" %}

{% block title %}JDE CONSULTE{% endblock %}

{% block content %}
<div class=" m-10 p-4 grid items-center bg-red-100 rounded-xl text-xl text-red-500 font-black border-green-500">
THIS IS THE HOMEPAGE OF JDE CONSULTE
</div>
<div class=" m-10 p-4 grid items-center bg-green-100 rounded-xl text-xl text-green-500 font-black border-green-500">
THIS IS THE HOMEPAGE OF JDE CONSULTE
</div>
<div class=" m-10 p-4 grid items-center bg-amber-100 rounded-xl text-xl text-amber-500 font-black border-green-500">
THIS IS THE HOMEPAGE OF JDE CONSULTE
</div>
<div class=" m-10 p-4 grid items-center bg-blue-100 rounded-xl text-xl text-blue-500 font-black border-green-500">
THIS IS THE HOMEPAGE OF JDE CONSULTE
</div>
<div class=" m-10 p-4 grid items-center bg-yellow-100 rounded-xl text-xl text-yellow-500 font-black border-green-500">
THIS IS THE HOMEPAGE OF JDE CONSULTE
</div>
<div class=" m-10 p-4 grid items-center bg-lime-100 rounded-xl text-xl text-lime-500 font-black border-green-500">
THIS IS THE HOMEPAGE OF JDE CONSULTE
</div>
<div class=" m-10 p-4 grid items-center bg-stone-100 rounded-xl text-xl text-stone-500 font-black border-green-500">
THIS IS THE HOMEPAGE OF JDE CONSULTE
</div>
<div class=" m-10 p-4 grid items-center bg-slate-100 rounded-xl text-xl text-slate-500 font-black border-green-500">
THIS IS THE HOMEPAGE OF JDE CONSULTE
</div>
{% endblock %}	
