<!-- @format -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>
        {% block title %}
        {% endblock title %}
        </title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
		/>
		<link
			rel="stylesheet"
			href="{% static 'css/styles.css' %}?v=6"
			type="text/css"
			media="screen"
			title="no title"
			charset="utf-8"
		/>

		<!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.2.0/dist/tailwind.min.css" rel="stylesheet"> -->
		<style>
			/* Custom styling if needed */
            .par-serv-scroll {
                transition: transform 0.5s ease;
            }

			/* Animation for fade + slide */
    .fade-slide-enter {
        opacity: 0;
        transform: translateY(-8px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    .fade-slide-enter-active {
        opacity: 1;
        transform: translateY(0);
    }
    .curvy-div {
        background-color: lightblue;
        width: 100%;
        height: 40px; /* Adjust height as needed */
        clip-path: url('#curvy-shape');
    }
    .ellipse{ 
     height:400px;
     background:#f66;
     clip-path: ellipse(59% 50%);
     margin-top: 100px;
}
   .wave-strip {
  position: relative;
  height: 60px;           /* thickness */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.ave-strip svg {
  width: 100%;
  height: 20px;           /* match thickness */
  display: block;
}

.marquee-container {
    width: 100vw;       /* only as wide as the viewport */
    overflow: hidden;   /* hide overflowing part */
    position: relative;
  }

  .marquee {
    /*display: inline-block;
    white-space: nowrap;*/
    /*padding-left: 50%;  start from outside the right edge */
    animation: scroll-left 25s linear infinite;
  }

  @keyframes scroll-left {
    from {
      transform: translateX(30vw);
    }
    to {
      transform: translateX(calc(-100% + 100vw));
    }
  }
 
		</style> 
	</head>
	<body class="font-sans text-gray-800">
		<!-- Navigation -->
		<header class="bg-white shadow-md z-40  pb-5 pt-3 relative">
			<div
				class="mx-auto px-4 md:px-8 xl:px-12 py-3 flex justify-between items-center relative"
			>

                    
        	{% if user.is_authenticated %}
              <span class="absolute top-0 right-0 font-bold text-green-600 md:text-lg lg:text-xl inline-block pr-4 md:pr-8 xl:pr-12">Welcome, {{user.first_name}}</span>
        	{% endif %}

				<div class="text-2xl font-bold text-green-600 inline-block relative ">
                    <a href="/">
					<img
						src="{% static 'jde_assets/jde_logo_resized.jpg' %}"
						class="w-[86px] h-[86px] inline-block rounded-full border-2 border-lime-500"
						alt=""
					/>
                    </a>
                    <p class="absolute top-1/2 -translate-y-1/2 left-full inline-flex flex-col pl-2">
                    <span class="text-base font-bold text-green-700 text-nowrap inline-block">JDE CONSULTE SAS</span>
                    
                    </p>
                    <span class="absolute top-full left-0 text-xs lg:text-sm text-gray-800 inline-block text-nowrap font-semibold italic lowercase pt-1">CERTIFIED TRANSLATORS, INTERPRETERS & CONSULTANTS</span>
				</div> 
                <!-- NAVIGATION FOR LARGE SCREEN -->
				<nav class="space-x-3 hidden lg:block lg:text-lg xl:text-xl relative" id="block-menu">
                    
                    
                        
					<input type="hidden" name="" value="{{current_page}}" id="current-page">
					<span class="nav-item" id="home"><a href="{% url 'base:homepage'  %}" class="" id=""><span>Home</span></a></span>
                    <span class="nav-item" id="about"><a href="{% url 'base:about-jde'  %}" class=" ">About</a></span>
                    <span class="nav-item" id="services"><a href="{% url 'base:all-services'  %}" class=" " id=""><span id="services">Services</span></a></span>
                    <!--<a href="#" class="text-gray-800 hover:text-green-700">Apply for a Service</a>
                    <a href="#" class="text-amber-500 hover:text-green-700">Book an Appointment</a> -->
                    <!-- <span class="nav-item"><a href="https://calendly.com/ksq-europe/paris?month=2025-08" target="_blank" class=" ">NIN/BVN Booking</a></span> -->
                    <span class="nav-item relative inline-block group z-50">NIN/BVN Booking <i class="fa-solid fa-caret-down"></i>
                        <span class="absolute hidden top-full right-0 group-hover:inline-flex flex-col text-left text-lime-950 font-semibold z-50 w-max gap-1 bg-lime-100 border border-gray-300">
                            <a href="https://calendly.com/ksq-europe/paris?month=2025-08" class="transform duration-75 hover:bg-lime-500 hover:text-white hover:font-semibold inline-block px-3 py-1 w-full">NIN Appointment</a>
                            <a href="{% url 'base:book-appointment' 'BVN' %}" class="transform duration-75 hover:bg-lime-500 hover:text-white hover:font-semibold inline-block px-3 py-1 w-full">BVN Appointment</a>
                         </span>
                    </span>
                    <span class="nav-item" id="iye-waka"><a href="/iye-waka" class=" ">Iye Waka</a></span>
                    <span class="nav-item" id="testimonials"><a href="{% url 'base:homepage'  %}#testimonies" class=" ">Testimonials</a></span>
                    <span class="nav-item" id="contact-us"><a href="{% url 'base:contact-us'  %}" class=" ">Contact Us</a></span>
                    <!-- <a href="#" class=" ">Projects</a> -->
                    <!-- <a href="/jde-consulte#videos" class=" ">Videos</a> -->
                    {% if user.is_authenticated %}
                    <span class="nav-item relative inline-block group z-50">Account <i class="fa-solid fa-caret-down"></i>
                        <span class="absolute hidden top-full right-0 group-hover:inline-flex flex-col text-left text-lime-950 font-semibold z-50 w-max gap-1 p-2 bg-lime-100 border border-lime-300">
                            <a href="#" class=" relative"><span class="text-green-500 text-base" id="profile"><i class="fa-solid fa-user"></i> My Profile</span></a>
                            <a href="" class=" relative"><span class="text-red-500 text-base">Logout <i class="fa-solid fa-right-from-bracket"></i></span></a>
                        </span>
                    </span>
                    
                    {% else %}
                    <span class="nav-item" id="login-register"><a href="{% url 'base:auth'  %}" class="">Login/Register</a></span>
                    {% endif %}
				</nav>
                <!-- NAVIGATION FOR SMALLER SCREENS -->
                <nav id="sidebar-Menu" class="fixed z-50 lg:hidden transform translate-x-full transition-all duration-500 top-0 left-0 right-0 h-[100vh] text-right bg-opacity-70 ">
                    <div class="inline-block h-full w-1/2 md:w-2/5 text-left px-6  py-4 relative bg-white">
                        <button id="closeSidebar" class="absolute top-1 right-1
                            pr-6 text-3xl font-semibold text-black">
                            &times;
                        </button>
                        <div class="py-3 text-center">
                            <img
                                src="{% static 'jde_assets/jde_logo_resized.jpg' %}"
                                class="w-16 h-16 inline-block rounded-full border-2 border-lime-500"
                                alt=""
					        />
                        </div>
                        <div class="flex flex-col h-full overflow-y-auto text-lg pb-32" id="side-menu-cont">
                            <!-- <input type="hidden" name="" value="{{current_page}}" id="current-page"> -->
                            <span class="nav-item2" id="home2"><a href="{% url 'base:homepage'  %}" class=""><span id="home">Home</span></a></span>
                            <span class="nav-item2" id="about2"><a href="{% url 'base:about-jde'  %}" class=" ">About</a></span>
                            <span class="nav-item2" id="services2"><a href="#" class=" " id=""><span id="services">Services</span></a></span>
                            <!--<a href="#" class="text-gray-800 hover:text-green-700">Apply for a Service</a>
                            <a href="#" class="text-amber-500 hover:text-green-700">Book an Appointment</a> -->
                            <span class="nav-item2"><a href="https://calendly.com/ksq-europe/paris?month=2025-08" target="_blank" class=" ">NIN Booking</a></span>
                            <span class="nav-item2" id="iye-waka2"><a href="/iye-waka" class=" ">Iye Waka</a></span>
                            <span class="nav-item2" id="testimonials2"><a href="{% url 'base:homepage'  %}#testimonies" class=" ">Testimonials</a></span>
                            <span class="nav-item2" id="contact-us2"><a href="{% url 'base:contact-us'  %}" class=" ">Contact Us</a></span>
                            
                            {% if user.is_authenticated %}
                            <span class="nav-item2" id="profile2"><a href="#" class=" relative"><span class="text-green-500 text-base"><i class="fa-solid fa-user"></i> My Profile</span></a></span>
                            <span class="nav-item2"><a href="{% url 'base:logout'  %}" class=" relative"><span class="text-red-500 text-base">Logout <i class="fa-solid fa-right-from-bracket"></i></span></a></span>
                            {% else %}
                            <span class="nav-item2" id="login-register2"><a href="{% url 'base:auth' %}" class="">Login / Register</a></span>
                            {% endif %}
                        </div>
                    </div>
                    
                </nav>
                <button id="openSidebar"
                    class="lg:hidden text-gray-800 text-xl font-semibold inline-block p-2 border border-gray-100 shadow-md">
                        MENU ☰
                </button>
			</div>
            
        	{% if user.is_staff %}
              <span class="absolute bottom-2 right-0 font-bold text-amber-600 text-lg lg:text-xl inline-block pr-4 md:pr-8 xl:pr-12 "><a href="/admin/" class="underline underline-offset-2 italic">Admin Panel</a></span>
        	{% endif %}
		</header>

        
        
        {% block content %}
            
        {% endblock content %}
            
        
        <!-- <section class="text-center my-20">
            <div class="w-[500px] h-[80px] inline-block text-4xl font-black text-white border-4 border-black" id="pa">
                <div class="w-[130px] h-[80px] bg-green-500 inline-block ch">1</div>
                <div class="w-[130px] h-[80px] bg-red-500 inline-block ch">2</div>
                <div class="w-[130px] h-[80px] bg-amber-500 inline-block ch">3</div>
            </div>
        </section> --> 

        <footer class="w-full bg-gradient-to-br from-gray-800 via-black to-gray-800 mt-20 ounded-t-[50px]">
            <div class="lg:grid lg:grid-cols-2 gap-4 lg:gap-6 px-4 lg:px-8 mx-auto py-6 lg:py-10">
                <div>
                    <div class="text-center">
                    <a href="/">
                    <span class="inline-block rounded-full w-max h-max">
                    <img src="{% static 'jde_assets/jde_logo_resized.jpg' %}" class="w-36 h-36 inline-block rounded-full border-2 border-lime-500" alt="">
                    </span>
                    </a>
                    </div>
                    <p class="font-semibold text-white lg:text-lg py-2">
                        <span class="font-black text-green-200">JDE CONSULTE SAS</span> is a professional service provider based in France, offering
                        comprehensive support for individuals and businesses. Our expertise spans translation,
                        interpreting, administrative assistance, consultancy, and data management services, all tailored to
                        meet diverse needs with precision and confidentiality.
                    </p>
                    
                    <p class="w-3/5 border-b-2 border-green-200 mx-auto py-3 md:hidden"></p>
                </div>
                <div>
                    <p class="text-lg lg:text-xl font-bold text-white white-shadow-small mt-6 mb-3">Main Pages on this Website :</p>
                    <p class="footer-nav-items-cont grid grid-cols-2 gap-x-3 gap-y-1" id="footer-nav-items-parent">
                        <span>Home</span>
                        <span>About Us</span>
                        <span>Services</span>
                        <span>Projects</span>
                        <span>Contact Us</span>
                        <span>Request a Service</span>
                        <span>Login</span>
                        <span>Register</span>
                        
                        <span>Book Appointment</span>
                        <span><a href="{% url 'base:terms' %}">Terms & Conditions</a></span>
                        <span><a href="{% url 'base:terms' %}">Privacy Policy</a></span>

                    </p>
                    <p class="w-3/5 border-b-2 border-green-200 mx-auto my-6"></p>
                    <p class="text-lg lg:text-xl font-bold text-white white-shadow-small mt-6 mb-3">Want to get in touch ?</p>
                    <div>
                        <p class="contact-para"><span class="contact-icon"><i class="fa-solid fa-location-dot"></i></span> 83 Rue Michel Ange 75016 Paris, FRANCE.</p>
                        <p class="contact-para"><span class="contact-icon"><i class="fa-solid fa-envelope"></i></span> jdeconsulte@gmail.com</p>
                        <p class="contact-para"><span class="contact-icon"><i class="fa-solid fa-phone-volume"></i></span> +33 (0) 613566153, +33 (0) 788159528, +234 (0) 7058909088</p>
                    </div>
                    <p class="text-green-200 text-xl flex justify-start items-center gap-4 md:gap-6 py-2">
                        <span class="text-white text-base lg:text-lg font-semibold white-shadow-small">Follow us on Social Media</span>
                        <span><i class="fa-solid fa-arrow-right text-white inline-block pr-2"></i></span>
                        <span><i class="fa-brands fa-x-twitter"></i></span>
                        <span><i class="fa-brands fa-instagram"></i></span>
                        <span><i class="fa-brands fa-facebook"></i></span>
                        <span><i class="fa-brands fa-youtube"></i></span>
                        <span><i class="fa-brands fa-linkedin"></i></span>

                    </p>
                </div>
            </div>
            <div class="w-full py-8 bg-green-900 text-center text-white font-normal text-sm lg:text-base">
                <p>Copyright &copy; 2025 JDE CONSULTE SAS. All Rights Reserved.</p>
            </div>
        </footer>


<!-- FLASH MESSAGE ALERT CONTAINER -->
<div class="fixed z-50 top-0 left-0 w-full">
  <div class="relative lg:w-4/5 xl:w-3/4 z-40 mx-auto">

    <div class="absolute top-full w-full font-black  text-left font-sans " id="alert-div">
      {% if messages %}
			<div class="relative">
				<button class="close-flash-msg inline-block absolute right-4 top-2 px-2  " id="close-flash-message">
                    <i class="fa-solid fa-xmark text-2xl md:text-3xl text-red-600 font-black"></i></button>
      <ul>								
      {% for message in messages %}
      <li class="message-li {% if message.tags %}{{message.tags}}{% endif %} p-8 pb-4 border-4 border-solid text-lg lg:text-xl transition-opacity duration-1000 opacity-100" data-duration="{{message.tags|default:'duration-5000'}}">{{message}}</li>
      {% endfor %}
      </ul>
			</div>
      {% endif %}
    </div>

    <div class="absolute top-full w-full z-50 font-black text-lg lg:text-xl text-left font-sans hidden" id="alert-div-js">
			<div class="relative" id="js-flash-cont">
				<button class="close-flash-msg inline-block absolute right-2 top-2 px-2 " id="close-flash-js">
					<i class="fa-solid fa-xmark text-2xl md:text-3xl text-red-600 font-black"></i>
				</button>
      <p class="p-8 pb-4 border-4 border-solid transition-opacity duration-1000 opacity-100" id="flash-msg-display"></p> 
			</div>
    </div>

  </div>
	
</div>

			<!-- Navigate back up-->
			<span class="fixed bottom-20 right-0 block w-max pr-5 md:pr-10 lg:pr-16 z-50" id="nav-up">
			<button class="inline-block "><span class="circle-vary w-12 h-12 bg-green-500 inline-block shadow-md"><i class="fa-solid fa-arrow-up font-black text-white text-2xl"></i></span></button>
			</span>


            <!-- Cookie Consent Banner -->
<div id="cookie-banner" class="fixed hidden w-full bottom-0 left-0 right-0 bg-gray-900 text-white text-sm p-6 md:p-8 shadow-lg justify-between items-start z-50 transition-opacity">
  <div class="max-w-4xl mx-auto w-full  flex-col md:flex-row justify-between items-start md:items-center gap-2">
    <p class="flex-1 text-base lg:text-lg">
      We use cookies to enhance your experience. By continuing to visit this site you agree to our use of cookies. 
      <a href="/privacy-policy" class="underline text-blue-400">Learn more</a> about our Privacy Policy.
    </p>
    <div class="flex justify-center gap-4 md:gao-6 pt-2">
      <button id="accept-cookies" class="bg-green-500 hover:bg-green-600 text-white px-4 py-1 rounded">Accept</button>
      <button id="decline-cookies" class="bg-red-500 hover:bg-red-600 text-white px-4 py-1 rounded">Decline</button>
    </div>
  </div>
</div>

        <script>
            const currPageVal = document.querySelector("#current-page").value
            const currNav1 = document.querySelector(`#${currPageVal}`)
            const currNav2 = document.querySelector(`#${currPageVal}2`)
            currNav1.style.fontWeight = "700";
            currNav1.style.color = "green";
            currNav2.style.fontWeight = "700";
            currNav2.style.color = "green";
        </script>

        <script>
            let conta = document.querySelector("#pa");
            function sc() {
                const elems = document.querySelectorAll(".ch");
            }
			
			//CODE TO NAVIGATE BACK UP
			const navUp = document.querySelector("#nav-up");
			let lastScrollPosit = window.scrollY;
			window.addEventListener("scroll", function(){
				const currentScrollPos = window.scrollY;

				if ( currentScrollPos < lastScrollPosit && currentScrollPos > 250 ){
					navUp.style.display = "block";
				}else {
					navUp.style.display = "none";
				}

				lastScrollPosit = currentScrollPos;
				setTimeout(()=>{},1000)
			})
			navUp.addEventListener("click", function(){
				window.scrollTo({ top: 0, behavior: "smooth" });
			})

        </script>

        <script>
            // Check if consent is already given
            const banner = document.getElementById('cookie-banner');
            const accepted = localStorage.getItem('cookie_consent');

            if (!accepted) {
                    setTimeout(() => {
                    banner.classList.remove('hidden');
                    banner.classList.add('flex');
                        banner.style.opacity = "1";

                    },2000)
            }

            // Set acceptance or decline
            document.getElementById('accept-cookies').addEventListener('click', () => {
                localStorage.setItem('cookie_consent', 'accepted');
                banner.classList.add('hidden');
                // Optional: initialize analytics or tracking here
            });

            document.getElementById('decline-cookies').addEventListener('click', () => {
                localStorage.setItem('cookie_consent', 'declined');
                banner.classList.add('hidden');
            });
        </script>

        <script>
            const openSidebar = document.getElementById('openSidebar');
            const closeSidebar = document.getElementById('closeSidebar');
            const sidebarMenu = document.getElementById('sidebar-Menu');

            openSidebar.addEventListener('click', () => {
                sidebarMenu.classList.remove('translate-x-full');
                setTimeout(() => sidebarMenu.classList.add('bg-black'), 300)
            });

            closeSidebar.addEventListener('click', () => {
                sidebarMenu.classList.remove('bg-black');
                setTimeout(() => sidebarMenu.classList.add('translate-x-full'), 200)
            });
        </script>

        <script>
            let container = document.querySelector("#par-serv-container");
            
            function scrollService() {
                //let services = document.querySelectorAll(".par-serv-scroll")
                // services[1].style.transform = "translateX(-100%) scale(1)"
                // services[2].style.transform = "translateX(-100%) scale(0.70)"
                // services[3].style.transform = "translateX(-100%) scale(0.85)"
                // services[4].style.transform = "translateX(-100%) scale(1)"
                // services[5].style.transform = "translateX(-100%) scale(0.70)"
                // services.forEach(service => service.style.transform = "translateX(-100%)")
                // let first = services.splice(0,1)
                // services.push(first)
                let services = Array.from(document.querySelectorAll(".par-serv-scroll"));
                services.forEach((service, index) => {
        //          if (index === 0) service.style.transform = "translateX(-100%) scale(0.85)";   
        // else if (index === 1 || index === 4) service.style.transform = "translateX(-100%) scale(1.0)";
        // else if (index === 2 || index === 5) service.style.transform = "translateX(-100%) scale(0.70)";
        // else if (index === 3) service.style.transform = "translateX(-100%) scale(0.85)";
        // else service.style.transform = "translateX(-100%)";
        //setTimeout(() => service.style.transform = "translateX(-100%)", 100)
                    if (index == 0 || index == 3) {
                        // service.classList.remove("scale-[0.6]")
                        // service.classList.add("scale-1")
                        service.style.transform = "scale(1)"
                    } else if (index == 1 || index == 4) {
                        // service.classList.remove("scale-[0.8]")
                        // service.classList.add("scale-[0.6]")
                        service.style.transform = "scale(0.6)"
                    }if (index == 2 || index == 5) {
                        // service.classList.remove("scale-1")
                        // service.classList.add("scale-[0.8]")
                        service.style.transform = "scale(0.8)"
                    }
                    setTimeout(() => service.style.transform = "translateX(-100%)", 100)
    });
            setTimeout( () => {
                let first = services[0].cloneNode(true)
                //let firstElementClone = nodeList[0].cloneNode(true);
                services[0].remove()
                container.appendChild(first) }, 4800)
            //alert(services[0].textContent)
            }
            // setInterval(scrollService, 5000)
            // let serv = document.querySelectorAll(".par-serv-scroll")[1]
            // let inc = 1
            // function scaleServe() {
            //     if (inc == 1) serv.style.transform = "scale(1)"
            //     else if (inc == 2) serv.style.transform = "scale(0.85)"
            //     else if (inc == 3) serv.style.transform = "scale(0.7)"
            //     inc++
            //     if (inc === 4) inc = 1
                
            //     //alert(serv.textContent)
            // }
            // setInterval(scaleServe, 3000)
        </script>

        <script>
/*let container = document.querySelector("#par-serv-container");
let services = Array.from(document.querySelectorAll(".par-serv-scroll"));

function updateScales() {
    services.forEach((service, index) => {
        if (index === 1 || index === 4) service.style.transform = "transformX(-100%) scale(1.0)";
        else if (index === 2 || index === 5) service.style.transform = "transformX(-100%) scale(0.70)";
        else if (index === 3) service.style.transform = "transformX(-100%) scale(0.85)";
        //else service.style.transform = "transformX(-100%) scale(1.0)";
    });
}

function scrollService() {
    // // Step 1: Slide all items left
    // services.forEach(service => {
    //     service.style.transition = "transform 0.6s ease";
    //     service.style.transform = " translateX(-100%)";
    // });

    // Step 2: After sliding animation ends, move first element to the end
    setTimeout(() => {
        let first = services.shift();
        //first.style.transition = "none"; // reset transition
        //first.style.transform = "scale(0.85)"; // reset scale before placing at end
        first.remove()
        container.appendChild(first);
        services.push(first);

        // Step 3: Reset all transforms for new positions & reapply scaling
        requestAnimationFrame(() => {
            updateScales();
        });
    }, 100); // matches transition time
}

// Initial setup
updateScales();
setInterval(scrollService, 3000);*/
</script>
<script charset="utf-8">
// 	const videosNav = document.querySelector("#videos-nav")
//   const closeSidebar1 = document.getElementById('closeSidebar');
// 	videosNav.addEventListener("click", function() {
// 		closeSidebar1.click()
// 	})

	
</script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		let alertsDiv = document.querySelector("#alert-div");
		let jsAlertsDiv = document.querySelector("#alert-div-js");
		let messageLi = document.querySelectorAll(".message-li")[0];
		let closeFlash = document.querySelectorAll(".close-flash-msg");

		try{var durationClass = [...messageLi.classList].find(cls => cls.startsWith("time-"));}
		catch{return}
    let duration = durationClass ? parseInt(durationClass.replace("time-", ""), 10) : 5000;

		// Hide the message after the specified time
		setTimeout(() => {
				closeFlash.forEach((cflash) => {cflash.style.display = "none"});
				messageLi.classList.remove("opacity-100");
				messageLi.classList.add("opacity-0"); // Add fade-out effect
				setTimeout(() => {
					messageLi.remove()
					alertsDiv.style.display = "none";
					closeFlash.style.display = "block";
				}, 1000); // Remove after fade-out

		}, duration);

		closeFlash.forEach((cf) => {cf.addEventListener("click", function() {
			try {
			alertsDiv.style.display = "none";
			}	catch {alert("error caught")};
			jsAlertsDiv.style.display = "none";
			})
		})

	})

  /*setTimeout(function() {
    let alertsDiv = document.querySelector("#alert-div");
    //alerts.forEach(alert => alert.style.display = "none");
    alertsDiv.style.display = "none";

  }, 8000);  // Hide after 5 seconds*/


	function showFlashMessage(alertType, msgText, duration=10000) {
		const msgCont = document.querySelector("#flash-msg-display");
		const divCont = document.querySelector("#alert-div-js");
		let closeFlash = document.querySelector("#close-flash-js");
		closeFlash.addEventListener("click", function() {
			divCont.style.display = "none";
		})
		msgCont.innerHTML = msgText;
		divCont.style.display = "block";
		msgCont.classList.add(alertType);
		setTimeout(function(){
			closeFlash.style.display = "none";
			msgCont.classList.remove("opacity-100");
			msgCont.classList.add("opacity-0"); // Add fade-out effect
			setTimeout(() => {
				divCont.style.display = "none";
				msgCont.classList.remove(alertType)
				msgCont.classList.add("opacity-100");
				closeFlash.style.display = "block";
			}, 1000);
		}, duration);
	}
</script>
      {% block scripts %}
      {% endblock scripts %}
	</body>
</html>
