@tailwind base;
@tailwind components;
@tailwind utilities;


.circle-vary {
	border-radius: 50%;          /* Makes the shape a circle */
	vertical-align: middle;      /* Align with surrounding text, if     any */
	display: flex;               /* Enable flexbox for centering */
	align-items: center;         /* Vertically center the content */
	justify-content: center;     /* Horizontally center the content*/
}


/* styles.css */
.white-shadow {
  text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.7), -2px -2px 2px rgba(50, 50, 50, 0.7), 2px 2px 4px rgba(50, 50, 50, 0.7), 2px 2px 4px rgba(50, 50, 50, 0.7);
}

.white-shadow-small {
  text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.4), -1px -1px 1px rgba(50, 50, 50, 0.4), 1px 1px 2px rgba(50, 50, 50, 0.4), 1px 1px 2px rgba(50, 50, 50, 0.4);
}

#sidebarMenu a {
	@apply py-4 text-center font-bold text-lg lg:text-xl border-b-2 lg:border-b-0 border-teal-200 rounded-2xl relative
    text-gray-700 hover:text-amber-500 transition
}

#heroes-cont .hero {
	@apply absolute top-0 w-full h-full  overflow-x-hidden 
}
.hero-service-title {
    @apply absolute top-12 left-1/2 -translate-x-1/2 inline-block text-nowrap p-2 mx-auto bg-gray-500/30 text-center text-3xl lg:text-4xl
}
.hero-service-description {
    @apply absolute bottom-8 md:bottom-1/3 left-0 w-full text-center px-6 md:px-12 text-lime-200 italic font-bold text-2xl lg:text-3xl
}
#services-cont .service {
	@apply bg-gradient-to-br from-lime-400 via-lime-500 to-lime-400 rounded-xl 
}
#choose-service button {
    @apply bg-amber-500 text-black font-bold inline-block px-5 py-2 text-lg lg:text-xl rounded-full shadow-md
}
.partner {
	@apply flex-shrink-0 w-[150px] h-auto rounded-xl border border-lime-300 overflow-hidden
}
.partner-scroll-indicator {
	@apply circle-vary w-3 h-3
}
.service-list-item {
    @apply inline-block text-nowrap px-3 py-1 rounded-full bg-teal-50 border border-teal-100 text-teal-950
}

.service-heading-parent {
    @apply py-4 px-3 text-center
}

.service-heading {
    @apply inline-block bg-gradient-to-r from-lime-100 via-white to-lime-100 border-2 border-stone-200 px-4 py-2 text-xl lg:text-2xl font-black tracking-wide text-teal-500 rounded-md
}

.detailed-services-cont {
    @apply w-4/5 md:w-full mx-auto list-outside list-disc font-bold text-lg lg:text-xl md:pl-3 lg:pl-8
}

#footer-nav-items-parent span {
    @apply inline-block mr-2 text-nowrap text-green-200 font-semibold text-base lg:text-lg hover:text-green-500 hover:underline underline-offset-2 cursor-pointer
}
.contact-para {
    @apply flex text-base lg:text-lg font-medium text-white
}
.contact-icon {
    @apply inline-block  text-green-200 pr-3 text-lg
}

.service-scroll {
    @apply w-3/4 mx-auto md:w-full h-full 
}
.par-serv-scroll {
    @apply flex-shrink-0 w-full mx-auto md:w-1/2 lg:w-1/3 xl:w-1/5 h-full
}
.service-details {
    @apply bg-white relative rounded-2xl overflow-hidden
}
.serve-title {
    @apply  text-white text-2xl font-bold mx-auto mb-6 text-center white-shadow-small tracking-wide
}
.service-detail-inner {
    @apply  bg-black bg-opacity-50 w-full h-full p-4
}

.jump-small {
    @apply transform duration-150 hover:scale-110
}
.nav-item2 {
    @apply border-b border-gray-200 py-3 hover:font-bold hover:text-green-500 hover:underline underline-offset-2 transform duration-75 hover:scale-110 hover:translate-x-4
}
.nav-item {
    @apply font-semibold inline-block text-gray-800 hover:text-green-500 transform duration-75 hover:scale-110
}
.form-input {
	@apply inline-block p-2 rounded-[4px] border border-gray-300 w-full text-base font-normal
}
.required-indicator {
	@apply font-bold text-2xl text-red-500 inline-block relative
}
input[type="file"] {
        @apply block w-full text-base text-gray-700 border border-gray-300 rounded-[4px] cursor-pointer
               bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-400;
    }

.service-detail-head {
    @apply font-bold text-xl md:text-2xl pb-1 tracking-wide
}
.service-items-list {
    @apply list-outside list-disc pl-10 text-lime-100
}
